.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    height: 80px;
    width: 100vw;
    background-color: #ECEFF4;
    border-style: solid 3px #E5E9F0;
}

.header__icons {
    position: absolute;
    right: 10px;
}

.header__titles {
    color: #8FBCBB;
    font-size: 300%;
}

.header__link {
    color:red;
    margin-top: 50px;
}
